<div class="well well-sm">
	<div class="row no-padding-bottom">
	  <div class="col-md-12">
	  	<div class="form-group no-margin-bottom">
	  		<label><%= Spree.t(:'i18n.select_locale') %></label>
		  	<%= select_available_locales_fields %>
		  </div>
	  </div>
	</div>
</div>