<div class="card-body">
  <%= select param_prefix, 'store_ids_string', options_from_collection_for_select(Spree::Store.all, :id, :name, promotion_rule.store_ids), { include_blank: true }, { class: 'select2', multiple: true, "data-placeholder" => Spree.t(:select_stores) } %>
</div>
