<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= label_tag Spree.t(:store) %>
      <%= f.select :store_id_eq, Spree::Store.all.collect {|s| [s.name, s.id ] }, {include_blank: true}, :class => 'form-control' %>
    </div>
  </div>
   <div class="col-md-8">
   </div>
</div>
